.container
  .row.col-md-10.col-md-offset-1
    %h1 Welcome to Conscious Coding
    %p Are you ready to program with a purpose?
    %h3 Search for Jobs
    = render partial: 'jobs/search'
.container
  - if @jobs.blank? && @indeed_jobs.results.empty?
    .row.col-md-10.col-md-offset-1
      .alert.alert-danger
        No Jobs found. Try your search again.
  - else
    .row.col-md-10.col-md-offset-1
      %h3 Current Jobs
      %table.table.table-striped.table-hover
        %tr 
          %thead
            %th 
              Posted
              %i.glyphicon.glyphicon-calendar
            %th Job Title
            %th 
              Location
              %i.glyphicon.glyphicon-map-marker
            %th Company  
        %tr
        - @jobs.newest_first.each do |job|
          %tr
            %td
              = time_ago_in_words(job.created_at)
              ago
            %td= link_to job.title, job, :target => "_blank"
            %td= job.location
            %td= job.company
        - @indeed_jobs.results.each do |job|
          %tr
            %td= job.formatted_relative_time
            %td= link_to job.job_title, job.url, onclick: job.onmousedown, :target => "_blank"
            %td= job.formatted_location
            %td= job.company
  .pagination
    = link_to "Previous", url_for(page: params[:page].present? ? params[:page].to_i - 1 : 1)
    = link_to "Next", url_for(page: params[:page].present? ? params[:page].to_i + 1 : 2)
%br
  %span#indeed_at.pull-right
    %a{:href => "http://www.indeed.com/"} jobs
    by
    %a{:href => "http://www.indeed.com/", :title => "Job Search"}
      %img{:alt => "Indeed job search", :src => "http://www.indeed.com/p/jobsearch.gif", :style => "border: 0;\r\nvertical-align: middle;"}/
