!!!
%html
  %head
  %title ConsciousCoding
  = stylesheet_link_tag    'application', media: 'all'#, 'data-turbolinks-track' => true
  = javascript_include_tag 'application'#, 'data-turbolinks-track' => true
  = csrf_meta_tags
  %body
    .container
      .row
        %nav.navbar-fixed-top{role: "navigation"}
          .navbar-header
            %button.navbar-toggle{type: "button", "data-toggle" => "collapse", "data-target" => "#collapse"}
              %span.sr-only Toggle navigation
              %span.icon-bar
              %span.icon-bar
              %span.icon-bar
            .collapse.navbar-collapse#collapse
              %ul.nav.navbar-nav
                %li.header= link_to "Conscious Coding", root_path
              %ul.nav.navbar-nav.navbar-right
                %li= link_to "About", about_path
                %li.dropdown{role: "presentation"}
                  %a.dropdown-toggle{"aria-expanded" => "true", "data-toggle" => "dropdown", href: "#", :role => "button"}
                    Jobs
                    %span.caret
                  %ul.dropdown-menu{role: "menu"}
                    %li= link_to "All Jobs", jobs_path
                    %li
                    Jobs by Category
                    - Category.all.each do |cat|
                      %li= link_to cat.name, category_path(cat)#jobs_by_category_url(category_name: cat) #categories_path(category_name: cat)
                    
                %li= link_to "Explore Organizations", employers_path
                %li.dropdown{role: "presentation"}
                  %a.dropdown-toggle{"aria-expanded" => "true", "data-toggle" => "dropdown", href: "#", :role => "button"}
                    Employers
                    %span.caret
                  %ul.dropdown-menu{role: "menu"}
                    %li= link_to "Employer Sign up", new_employer_registration_path   
                    %li= link_to "Employer Login", new_employer_session_path     
                    %li= link_to "Post a Job", new_job_path 
                %li= link_to "Applicant Login",  applicant_omniauth_authorize_path(:linkedin)
                / #search
                /   = render :partial => 'jobs/search'
              .search_form.col-md-3.col-md-offset-1
                %form.navbar-form{:role => "search"}
                .input-group
                  %input#srch-term.form-control{:name => "srch-term", :placeholder => "Search jobs", :type => "text"}/
                  .input-group-btn
                    %button#search-button.btn.btn-default{:type => "submit"}
              / .pull-right.user-info
              /   - if current_user?
              /     Hello #{employer.company_name}! #{link_to "Sign out", destroy_employer_session_path, method: :delete}
              /   - else
              /     = link_to "Employer Login", new_employer_session_path
              /     or
              /     \#{link_to "Applicant Login", applicant_omniauth_authorize_path(:linkedin)}
                           

      - if flash[:notice]
        .alert.alert-success
          %button.close{"data-dismiss" => "alert", :type => "button"} ×
          = flash[:notice]
      - elsif flash[:error]
        .alert.alert-danger
          %button.close{"data-dismiss" => "alert", :type => "button"} ×
          = flash[:error]
      - elsif flash[:alert]
        .alert.alert-warning
          %button.close{"data-dismiss" => "alert", :type => "button"} ×
          = flash[:alert]
    .container
      = yield
    %footer
      .container
        .row
          .navbar.navbar-inverse.navbar-fixed-bottom{role: "navigation"}
            .navbar-header
            %button.navbar-toggle{type: "button", "data-toggle" => "collapse", "data-target" => "#footer"}
              %span.icon-bar
              %span.icon-bar
              %span.icon-bar
            .navbar-collapse.collapse#footer
              %ul.nav.navbar-nav
                %li
                  %a{:href => "#"} Contact Us
                %li
                  %a{:href => "#"} Terms and Conditions
                %li
                  %a{:href => "#"} Privacy Policy
              %ul.nav.navbar-nav.pull-right
                %li.copyright © Conscious Coding
