!!!
%html
  %head
  %title ConsciousCoding
  = stylesheet_link_tag    'application', media: 'all'
  = javascript_include_tag 'application'
  = javascript_include_tag "//gdc.indeed.com/ads/apiresults.js"
  = csrf_meta_tags
  %body
    .container
      .row
        -if employer_signed_in?
          = render :partial => 'layouts/employers'
        -elsif applicant_signed_in?
          = render :partial => 'layouts/applicants'
        -else
          = render :partial => 'layouts/signed_out'
                           
    - if flash[:notice]
      .alert.alert-success
        %button.close{"data-dismiss" => "alert", :type => "button"} ×
        = flash[:notice]
    - elsif flash[:error]
      .alert.alert-danger
        %button.close{"data-dismiss" => "alert", :type => "button"} ×
        = flash[:error]
    - elsif flash[:alert]
      .alert.alert-warning
        %button.close{"data-dismiss" => "alert", :type => "button"} ×
        = flash[:alert]
    .container
      = yield
    = render :partial => 'layouts/footer'


